body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  mrgin:0px;
}

a {
  color: #00B7FF;
}

#CV{
	width:860px;
	height:645px;
	background-image: url('../images/blackboard.jpg');
}